body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #edb58d;
}
h1{
    color: #b57f58;
}
input{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #b57f58;
    outline: 1px solid #b57f58;
}
button{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #b57f58;
    outline: 1px solid #b57f58;
    background: none;
}
button:hover{
    background: #b57f58;
    color: #fff;
}