body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b78edd;
}
.content{
    padding: 30px;
    background: #fff;
    border-radius: 10px;
}
h1{
    color: #8156a9;
}
input{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #8156a9;
    outline: 1px solid #8156a9;
}
button{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #8156a9;
    outline: 1px solid #8156a9;
    background: none;
}
button:hover{
    background: #8156a9;
    color: #fff;
}